/* Styles for the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
  }
  header img {
    height: 50px;
  }
  header button {
    position: absolute;
    width: 138px;
    height: 58px;
    left: 1103px;
    top: 32px;
    
    background: #1400FF;
    border-radius: 30px;
  }
  header button:hover {
    background-color: #f2f2f2;
  }
  
  /* Styles for the main content */
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  main h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  main button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  main button:hover {
    background-color: #4d4d4d;
  }
  
  /* Styles for the footer */
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  