<!DOCTYPE html>
<html>
<head>
  <title>Password Reset</title>
</head>
<body>
  <h1>Reset Your Password</h1>
  <p>Hi {{ user.username }},</p>
  <p>You have requested a password reset. Please click the link below to reset your password:</p>
  <a href="http://127.0.0.1:8000/set_password?uidb64={{uid}}&token={{token}}">Reset Password</a>
  <p>If you did not request a password reset, please ignore this email and your password will remain unchanged.</p>
  <p>Best regards,</p>
  <p>Your Support Team</p>
</body>
</html>