<!DOCTYPE html>
<html>
  <!-- {%load static%} -->
  <head>
    <title>selfbyt</title>
    <link rel="stylesheet" type="text/css" href="static/css/landing.css">
  </head>
  <body>
    <header>
      <img src="static/assets/logo.svg" alt="Logo">
      <div>
        <button>Log In</button>
        <button>Sign Up</button>
      </div>
    </header>
    
    <main>
      <h1>Get Started Today</h1>
      <button>Get Started</button>
    </main>
    
    <footer>
      &copy; 2023 selfbyt
    </footer>
  </body>
</html>
