/* Styles for the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 1.5cm;
}

nav a {
  color: #333;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
header img {
  height: 50px;
}
header button {
  background-color: #1400FF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 33px;
  cursor: pointer;
}
header button:hover {
  background-color: #77a9f3;
}

/* Styles for the main content */

main {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 20px;
}
h1#rollin {
  /* live */
  
  
  position: absolute;
  width: 157px;
  height: 153px;
  left: 199px;
  top: 340px;
  
  font-family: 'Poppins';
  font-style: bold;
  font-weight: 700;
  font-size: 96px;
  line-height: 153px;
  /* identical to box height */
  
  
  color: #FE5005;
}

h1 {
  /* SMART */

  
  position: absolute;
  width: 362px;
  height: 144px;
  left: 146px;
  top: 412px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  line-height: 144px;
  /* identical to box height */
  
  
  color: #0D0A36;;

}

p#tagline {
  position: absolute;
  width: 598px;
  height: 72px;
  left: 146px;
  top: 545px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  padding-top: 20px;
  color: #0D0A36;
  
}
main button {
  background-color:#1400FF;
  color: white;
  border: none;
  position: absolute;
  /* width: 289px;
  height: 86px; */
  /* left: 582px; */
  top: 693px;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1.5rem;
  cursor: pointer;
  align: center;
}
main button:hover {
  background-color: blue;
}

/* Styles for the footer */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #F5F5F5;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.footer-section {
  margin-right: 15px;
}

.footer-section:last-child {
  margin-right: 0;
}

.footer-section-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  color: #333;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

ul li a:hover {
  text-decoration: underline;
}
.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
  padding: 5px;
  background: #D9D9D9;
  text-align: center;
  color: black;
  font-family: 'Open Sans';
  font-weight: light;
  line-height: 25px;
}

