<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login | Selfbyt</title>
  </head>
  <body>
    <h1>Login to Selfbyt</h1>
    <div>
      {%for message in messages%}
      <h5>
        {{message}}
      </h5>
      {%endfor%} 
    <div>
    <form action="" method="post">
      {%csrf_token%}
      <label for="email">email:</label>
      <input type="text" id="email" name="email">
      <br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <br><br>
      <input type="submit" value="signin">
    </form>
  </body>
</html>
